/* hello! 
have some fun looking around at my code; no website-creation sites such as squarespace or wix was utilized, as i was lucky enough to have the time + energy this summer to work on building from scratch! please don't copy + paste any lines of code / plagiarize - it'll be a learning experience for you to code and design yourself, just as it was for me. */

body {
    font-family: 'Assistant', sans-serif;
    padding-right: 7%; 
    padding-left: 7%; 
    line-height: 1.5;
}

.svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 320px;  
  }

  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 6px;
    fill: transparent;
    stroke: rgba(253, 207, 207, 0.50);
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    line-height: 30px;
    top: -51px;
    position: relative;
    text-align: center; 
  }
  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }

b {
    font-weight: 400; 
}

p, ol li, ul li {
    font-weight: lighter; 
    font-size: 12px; 
}

a:hover {
    transition: all .2s ease-in-out;
    color: #B2B2B2;
}

footer {
    font-weight: lighter; 
    display: grid;
    grid-auto-flow: column;
    color: #B2B2B2; 
    display: fixed;
    bottom: 0; 
    width: 100%; 
    text-align: left; 
    padding-top: 4%; 
    padding-bottom: 1%; 
}

footer a, footer p {
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #B2B2B2; 
    font-size: 14px; 
}

footer a:hover, footer #logo a:hover {
    color: #DFDFDF; 
}

.rectangle {
    margin-top: 5%; 
    margin-bottom: 5%;
    height: 1.5px;
    background-color: #EFEFEF;  
}

.bar {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
    grid-gap: 6%; 
}

/* HOME */ 

.link {
    font-weight: 400;
    color: black; 
    text-decoration: none; 
    border-bottom: 2px solid rgb(253, 229, 215);
}

.link:hover {
    font-weight: 400;
    color: black; 
    text-decoration: none; 
    border-bottom: 2px solid #EFEFEF;
}

.intro {
    padding-top: 150px; 
}

nav a {
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: black; 
}

#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    font-size: 14px;
}

#logo {
    transition: all .2s ease-in-out;
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    font-size: 14px; 
}

#logo a:hover {
    color: #FFCCAF;
}

#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 9%; 
}

.in_row { display: flex; justify-content: center; }
.left { width: 50%; padding-right: 10px; }
.right { width: 50%; padding-left: 10px; }
.about .left { width: 40%;}
.about .right { width: 60%;}
.daily_ui .left { width: 50%; padding-right: 10px; }
.daily_ui .right { width: 50%; padding-left: 10px; }

/* ABOUT */ 

.index_link {transition: all .5s ease-in-out; }
.index_link:hover { transform: scale(.97);}

@media screen and (max-width: 600px) {
    footer #links {grid-gap: 25% !important;}
    footer #logo { visibility: hidden; }
    .column { width: 100%; }

    .index .in_row, .daily_ui .in_row, .graphics .in_row, .foodprint .in_row, .exploratorium .in_row, .dipi .in_row {
		width: 100%;
		max-width: 100%;
		height: auto;
        margin: auto;
        display: inline-block;
    }

    .exploratorium .content .in_row .left, .exploratorium .content .in_row .right, .dipi .content .in_row .left, .dipi .content .in_row .right,
        .foodprint .content .in_row .left, .foodprint .content .in_row .right  {
        width: 100%; 
    }

    footer { text-align: right; }
}

@media screen and (max-width: 700px) {
    .intro { padding-top: 50px; }
    .index .intro { padding-top: 100px; }
    .about .in_row .right { width: 100%; }
    .about .in_row .left { width: 0%; padding-right: 0px; }
    .daily_ui .left { width: 100%; padding-left: -10px; }
    .daily_ui .right { width: 100%; padding-left: 0px !important; }
    .left { width: 100%; }
    .right { width: 100%; padding-left: 0px !important; }
}

@media screen and (min-width: 900px) {
    .prayer .right { padding-top: 15%; }
}

@media screen and (max-width: 900px) {
    .prayer .in_row {
		width: 100%;
		max-width: 100%;
		height: auto;
        margin: auto;
        display: inline-block;
    }
    .prayer .left, .prayer .right {
        width: 100%;  
    }

    .prayer .right {
        padding-top: 5%; 
    }
}

.exploratorium .content .left, .dipi .content .left, .foodprint .content .left { width: 30%; text-align: left; margin-top: 0;}
.exploratorium .content .right, .dipi .content .right, .foodprint .content .right { width: 70%; }

.dot1 { height: 7px; width: 7px; background-color: #FFCBCB; border-radius: 50%; display: inline-block; }
.dot2 { height: 7px; width: 7px; background-color: #F090FF; border-radius: 50%; display: inline-block; }
.dot3 { height: 7px; width: 7px; background-color: #AAEBFF; border-radius: 50%; display: inline-block; }
.dot4 { height: 7px; width: 7px; background-color: #67F864; border-radius: 50%; display: inline-block; }
