body {
    font-family: 'Assistant', sans-serif;
    padding-right: 7%; 
    padding-left: 7%; 
    line-height: 1.5;
}

p {
    font-weight: lighter; 
    font-size: 12px; 
}

a:hover {
    transition: all .2s ease-in-out;
    color: #BCBCBC;
}

footer {
    font-weight: lighter; 
    display: grid;
    grid-auto-flow: column;
    color: #BCBCBC; 
    display: fixed;
    bottom: 0; 
    width: 100%; 
    text-align: left; 
    padding-top: 4%; 
    padding-bottom: 1%; 
}

footer a, footer p {
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #BCBCBC; 
    font-size: 14px; 
}

footer a:hover, footer #logo a:hover {
    color: #DFDFDF; 
}

.rectangle {
    margin-top: 5%; 
    margin-bottom: 5%;
    height: 1.5px;
    background-color: #EFEFEF;  
}

.bar {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
    grid-gap: 6%; 
}

/* HOME */ 

.link {
    font-weight: 400;
    color: black; 
    text-decoration: none; 
    border-bottom: 2px solid rgb(253, 229, 215);
}

.link:hover {
    font-weight: 400;
    color: black; 
    text-decoration: none; 
    border-bottom: 2px solid #EFEFEF;
}

.intro {
    padding-top: 100px; 
}

nav a {
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: black; 
}

#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    font-size: 14px;
}

#logo {
    transition: all .2s ease-in-out;
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    font-size: 14px; 
}

#logo a:hover {
    color: #FFCCAF;
}

#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 9%; 
}

.in_row { display: flex; justify-content: center; }
.left { width: 50%; padding-right: 15px; }
.right { width: 50%; padding-left: 15px; }
.daily_ui .left { width: 50%; padding-right: 10px; }
.daily_ui .right { width: 50%; padding-left: 10px; }

/* ABOUT */ 

.index_link {transition: all .5s ease-in-out; }
.index_link:hover { transform: scale(.97); opacity: .7; }

@media screen and (max-width: 600px) {

    footer .logo { visibility: hidden; }

    .column { width: 100%; }

    .index .in_row, .daily_ui .in_row, .graphics .in_row, .foodprint .in_row, .exploratorium .in_row, .dipi .in_row {
		width: 100%;
		max-width: 100%;
		height: auto;
        margin: auto;
        display: inline-block;
    }

    .exploratorium .content .in_row .left, .exploratorium .content .in_row .right, .dipi .content .in_row .left, .dipi .content .in_row .right,
        .foodprint .content .in_row .left, .foodprint .content .in_row .right  {
        width: 100%; 
    }
    
    footer { text-align: right; }
}

@media screen and (max-width: 700px) {
    .about .in_row .right { width: 100%; }
    .about .in_row .left { width: 0%; padding-right: 0px; }
}

@media screen and (min-width: 900px) {
    .prayer .right { padding-top: 15%; }
}

@media screen and (max-width: 900px) {
    .prayer .in_row {
		width: 100%;
		max-width: 100%;
		height: auto;
        margin: auto;
        display: inline-block;
    }
    .prayer .left, .prayer .right {
        width: 100%;  
    }

    .prayer .right {
        padding-top: 5%; 
    }
}

.exploratorium .content .left, .dipi .content .left, .foodprint .content .left { width: 30%; text-align: center; margin-top: 0;}
.exploratorium .content .right, .dipi .content .right, .foodprint .content .right { width: 70%; }
