body {
    font-family: 'Assistant', sans-serif;
    font-weight: lighter; 
    padding:10px 80px;
    line-height: 1.5;
}

p {
    font-size: 13px; 
}

a:hover {
    color: #FFCCAF;
}

/* HOME */ 

.intro {
    padding-top: 80px; 
}

.intro h1 a {
    font-size: 40px;
    text-decoration: none; 
    color: black;
}

.intro h1 a:hover {
    color: #FFCCAF;
}

nav a {
    text-decoration: none;
    color: gray; 
}

#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-size: 13px;
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    font-size: 14px; 
    color: #FFCCAF;
    grid-gap: 1.5em;
}

#logo a {
    color: #FFCCAF;
}

#logo a:hover {
    color:gray;
}

#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 3em;
}

/*ABOUT*/ 

.about img {
    padding-top: 30px; 
    width: 100%
}

.about h3 a {
    font-weight: bolder; 
}

.about .link {
    border-bottom: 4px solid rgb(253, 229, 215);
    text-decoration: none;
    color: inherit;
}

.about .link:hover {
    border-bottom: 4px solid #E5E7E9;
}

.about .text {
    padding: 50px 300px; 
    text-align: justify; 
}
 
.about .text .l p .link {
    border-bottom: 2px solid rgb(253, 229, 215);
}

.about .text .l p .link:hover {
    border-bottom: 2px solid #E5E7E9;
}

.about #navbar {
    font-size: 14px; 
}

.about .text #navbar #logo ._links, .about .text #navbar #links ._links {
    text-decoration: none; 
    color: #C0C0C0;
    border-bottom: 2px solid #D6D6D6;
}

.about .text #navbar #logo {
    grid-gap: 3em;
}

.about .text #navbar #logo ._links:hover, .about .text #navbar #links ._links:hover {
    border-bottom: 2px solid #E5E7E9;
} 

/*PRAYER*/

.prayer h1 {
    font-size: 42px; 
}
.prayer .in_row, .work .in_row {
    font-size: 100%; 
    display:flex; 
    justify-content: center; 
}

.prayer .left {
    width: 50%;  
}

.prayer .right {
    width: 50%;
    text-align: justify; 
    padding-top: 120px; 
}

.prayer .verse {
    color: #FF8585; 
}

.prayer .form {
    margin-top: 50px; 
    background-color: #FFEEE4;
    position: absolute;
    height: 40%; 
    width: 100%;
    left: 0; 
    right: 0; 
}

.rectangle {
    height: 2px;
    background-color: #555;
    margin:20px 80px;
    background-color: #FFDFCD;
}

.prayer .form #text {
    margin-top: 80px;
    justify-content: center;
    text-align: justify; 
    padding-left: 33%; 
    padding-right: 33%;
}

.prayer .form #text #typeform_txt p {
    font-size: 18px;
    width: 100%; 
}

.prayer .form #text #typeform_txt p .link{
    color: #FF5151; 
    text-decoration: none; 
    border-bottom: 2px solid #FF0909;
}

.prayer .form #text #typeform_txt p .link:hover {
    border-bottom: 2px solid #FFAFAF;
} 