body {
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 14px; 
    font-weight: 300;
    width: 800px;
    padding: 5% 0% 0% 0%;
    line-height: 1.6;
    background: #F9F9F9;
    margin:0 auto;
}
 
hr {
    border: .5px solid #E4E4E4;
}
a { 
    text-decoration: none; 
    color: #A0A0A0; 
}

.redirect {
    padding-top: 25px;
    text-align: right;
    float: right;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 14px; 
}

ul {
    list-style-type: none;
    padding: 0; 
}

a:hover {
    transition: .3s ease-in-out; 
    color: #000000; 
}

h1, h2 {
    font-size: 250%; 
    font-family: 'Noto Serif KR', serif; 
    line-height: 1;
    font-weight: 300;
}

.container {
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: grid; 
    grid-template-columns: 30ch 30ch 30ch;
}

footer {
    padding: 5% 0% 3% 0%; 
    text-align: left;
    color: #A0A0A0; 
}
