body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    line-height: 1.2;
}
p {
    font-size: 16px; 
}
h1 {
    font-size: 40px;
    padding-bottom: 10px; 
    font-weight: 400;
}
h3 {
    font-size: 16px; 
    font-weight: 400;
}
div.container4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
div.container5 {
    margin: 0;
    top: 110%;
    position: absolute;
    padding-left: 13%;
    padding-right: 13%;
}

.in_row { display: flex;}
.left { width: 42%; padding-right: 7%;}
.right { width: 58%;}

hr {
    border: .5px solid #E4E4E4;
}