body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    line-height: 1.3;
}
p {
    font-size: 16px; 
}
h1 {
    font-size: 40px;
    padding-bottom: 10px; 
    font-weight: 400;
}
h3 {
    font-size: 16px; 
    font-weight: 400;
}
div.container4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
div.container5 {
    margin: 0;
    top: 110%;
    position: absolute;
    padding-left: 13%;
    padding-right: 13%;
}

main {
    top: 170%;
    position: absolute;
    margin: 0;
    padding-left: 13%;
    padding-right: 13%;
}

a {
    font-size: 15px; 
    color: #A0A0A0; 
    text-decoration: none; 
    display: block;
    margin-top: 20px; 
    color: #A0A0A0;
}

.box_left .year {
    font-size: 16px; 
    text-align: right;
    margin-top: 20px; 
}


.in_row { display: flex;}
.left { width: 42%; padding-right: 7%;}
.right { width: 58%;}

.left1 { width: 45%; padding-right: 10%;}
.right1 { width: 45%;}

.left_left { width: 80%; padding-right: 5%;}
.right_left { width: 20%;}

.left_right { width: 20%; padding-right: 5%;}
.right_right { width: 80%;}

hr {
    border: .5px solid #E4E4E4;
}

a:hover {  transition: .4s ease-in-out; color: #BBBBBB; border-bottom-color: #CFCFCF;}